@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .button {
    @apply bg-white text-black px-3 py-2;
  }
  .input {
    @apply mt-2 w-full px-2 py-1 bg-white rounded-none text-black;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .btn {
    @apply px-3 py-2;
  }
}
